/* BalanceChart.css */
.Dash-Chart-Title-Con{
    background-color: #edebeb;
    border-radius: 15px;
    width: 100%;
}

.ChartTitle{
    font-family: 'Raleway';
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .85rem;
    font-weight: bold;
    background: linear-gradient(to right, #7a37ed, #b74ce6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dash-Chart-card5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5%;
    background-color: #f5f5f5;
    min-height: 110px;
    max-height: 390px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    height: auto;
}