

  .wavecontact{
    margin-bottom: -5px;
  }

.Contact{
    background-color: #7a37ed;
    padding-bottom: 5%;
}

.text-title{
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-weight: 750;
}

.Contact-Desc{
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
}

.info{
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    text-decoration: none;
}

.Media-card{
    display: block;
    margin: 0 auto;
    align-items: center;
    border-radius: 35px;
    padding: 3%;
}

.Contact-Desc-Bold{
    font-family: 'Raleway';
    color: white;
    text-align: center;;
    padding-inline: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: 700;
    font-size: 1.2rem;
}

.Media-Content{
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    text-align: center;
}